CREATE DATABASE [QLDETAI_SV]
GO 
USE [QLDETAI_SV]
GO
/****** Object:  Table [dbo].[DETAI]    Script Date: 22/07/2022 5:35:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DETAI](
	[MADT] [char](6) NOT NULL,
	[TENDT] [nvarchar](50) NOT NULL,
 CONSTRAINT [pk_DETAI] PRIMARY KEY CLUSTERED 
(
	[MADT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GV_HDDT]    Script Date: 22/07/2022 5:35:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GV_HDDT](
	[MAGV] [char](6) NOT NULL,
	[MASV] [char](6) NOT NULL,
	[MADT] [char](6) NOT NULL,
	[DIEM] [float] NOT NULL,
 CONSTRAINT [PK_GV_HDDT] PRIMARY KEY CLUSTERED 
(
	[MAGV] ASC,
	[MASV] ASC,
	[MADT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GV_HOIDONG]    Script Date: 22/07/2022 5:35:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GV_HOIDONG](
	[MAGV] [char](6) NOT NULL,
	[MASV] [char](6) NOT NULL,
	[MADT] [char](6) NOT NULL,
	[DIEM] [float] NOT NULL,
 CONSTRAINT [PK_GV_HOIDONG] PRIMARY KEY CLUSTERED 
(
	[MAGV] ASC,
	[MASV] ASC,
	[MADT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GV_PBDT]    Script Date: 22/07/2022 5:35:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GV_PBDT](
	[MAGV] [char](6) NOT NULL,
	[MASV] [char](6) NOT NULL,
	[MADT] [char](6) NOT NULL,
	[DIEM] [float] NOT NULL,
 CONSTRAINT [PK_GV_PBDT] PRIMARY KEY CLUSTERED 
(
	[MAGV] ASC,
	[MASV] ASC,
	[MADT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GIAOVIEN]    Script Date: 22/07/2022 5:35:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GIAOVIEN](
	[MAGV] [char](6) NOT NULL,
	[TEN] [nvarchar](50) NOT NULL,
	[DIACHI] [nvarchar](100) NULL,
	[SODT] [nchar](10) NULL,
 CONSTRAINT [PK_GIAOVIEN] PRIMARY KEY CLUSTERED 
(
	[MAGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 22/07/2022 5:35:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[MASV] [char](6) NOT NULL,
	[TENSV] [nvarchar](30) NOT NULL,
	[SODT] [varchar](10) NOT NULL,
	[LOP] [char](6) NOT NULL,
	[DIACHI] [nvarchar](50) NOT NULL,
 CONSTRAINT [pk_SINHVIEN] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SINHVIEN_DETAI]    Script Date: 22/07/2022 5:35:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SINHVIEN_DETAI](
	[MASV] [char](6) NOT NULL,
	[MADT] [char](6) NOT NULL,
	[DIEM_TB] [float] NULL,
	[LOAI] [nvarchar](50) NULL,
	[NGAYBAOCAO] [datetime] NULL,
	[GHICHU] [nvarchar](100) NULL,
 CONSTRAINT [PK_SINHVIEN_DETAI_1] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC,
	[MADT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SINHVIEN_TEMP]    Script Date: 22/07/2022 5:35:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SINHVIEN_TEMP](
	[MASV] [char](6) NOT NULL,
	[TENSV] [nvarchar](30) NOT NULL,
	[SODT] [varchar](10) NOT NULL,
	[DIACHI] [nvarchar](50) NOT NULL,
 CONSTRAINT [pk_SINHVIEN_TEMP] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[DETAI] ([MADT], [TENDT]) VALUES (N'DT0001', N'Đồ Án Cơ Sở')
INSERT [dbo].[DETAI] ([MADT], [TENDT]) VALUES (N'DT0002', N'Đồ Án Chuyên Ngành')
INSERT [dbo].[DETAI] ([MADT], [TENDT]) VALUES (N'DT0003', N'Đồ Án Tốt Nghiệp')
INSERT [dbo].[GV_HDDT] ([MAGV], [MASV], [MADT], [DIEM]) VALUES (N'GV0001', N'SV0001', N'DT0001', 8)
INSERT [dbo].[GV_HDDT] ([MAGV], [MASV], [MADT], [DIEM]) VALUES (N'GV0001', N'SV0001', N'DT0002', 9)
INSERT [dbo].[GV_HDDT] ([MAGV], [MASV], [MADT], [DIEM]) VALUES (N'GV0001', N'SV0001', N'DT0003', 7)
INSERT [dbo].[GV_HOIDONG] ([MAGV], [MASV], [MADT], [DIEM]) VALUES (N'GV0003', N'SV0001', N'DT0001', 7)
INSERT [dbo].[GV_HOIDONG] ([MAGV], [MASV], [MADT], [DIEM]) VALUES (N'GV0003', N'SV0001', N'DT0002', 7)
INSERT [dbo].[GV_HOIDONG] ([MAGV], [MASV], [MADT], [DIEM]) VALUES (N'GV0003', N'SV0001', N'DT0003', 7)
INSERT [dbo].[GV_PBDT] ([MAGV], [MASV], [MADT], [DIEM]) VALUES (N'GV0002', N'SV0001', N'DT0001', 7)
INSERT [dbo].[GV_PBDT] ([MAGV], [MASV], [MADT], [DIEM]) VALUES (N'GV0002', N'SV0001', N'DT0002', 7)
INSERT [dbo].[GV_PBDT] ([MAGV], [MASV], [MADT], [DIEM]) VALUES (N'GV0002', N'SV0001', N'DT0003', 7)
INSERT [dbo].[GIAOVIEN] ([MAGV], [TEN], [DIACHI], [SODT]) VALUES (N'GV0001', N'Giáo Viên Hướng Dẫn', N'Bình Thạnh', NULL)
INSERT [dbo].[GIAOVIEN] ([MAGV], [TEN], [DIACHI], [SODT]) VALUES (N'GV0002', N'Giáo Viên Phản Biện', N'Gò Vấp', NULL)
INSERT [dbo].[GIAOVIEN] ([MAGV], [TEN], [DIACHI], [SODT]) VALUES (N'GV0003', N'Giáo Viên HD 1', N'Thủ Đức', NULL)
INSERT [dbo].[SINHVIEN] ([MASV], [TENSV], [SODT], [LOP], [DIACHI]) VALUES (N'SV0001', N'Nguyễn Văn A ', N'0909029530', N'DTH04 ', N'')
INSERT [dbo].[SINHVIEN] ([MASV], [TENSV], [SODT], [LOP], [DIACHI]) VALUES (N'SV0002', N'Nguyễn Văn B', N'0909029531', N'DTH04 ', N'Thủ Đức Temp')
INSERT [dbo].[SINHVIEN] ([MASV], [TENSV], [SODT], [LOP], [DIACHI]) VALUES (N'SV0003', N'Nguyễn Văn C ', N'0909029532', N'DTH03 ', N'Quận 9 Temp')
GO
INSERT [dbo].[SINHVIEN_DETAI] ([MASV], [MADT], [DIEM_TB], [LOAI], [NGAYBAOCAO], [GHICHU]) VALUES (N'SV0001', N'DT0001', 7.6, N'Khá', NULL, NULL)
INSERT [dbo].[SINHVIEN_DETAI] ([MASV], [MADT], [DIEM_TB], [LOAI], [NGAYBAOCAO], [GHICHU]) VALUES (N'SV0001', N'DT0002', 8.2, N'Giỏi', NULL, NULL)
INSERT [dbo].[SINHVIEN_DETAI] ([MASV], [MADT], [DIEM_TB], [LOAI], [NGAYBAOCAO], [GHICHU]) VALUES (N'SV0001', N'DT0003', 7, N'Khá', NULL, NULL)
INSERT [dbo].[SINHVIEN_TEMP] ([MASV], [TENSV], [SODT], [DIACHI]) VALUES (N'SV0001', N'Nguyễn Văn A Temp', N'0909029530', N'Bình Chánh Temp')
INSERT [dbo].[SINHVIEN_TEMP] ([MASV], [TENSV], [SODT], [DIACHI]) VALUES (N'SV0002', N'Nguyễn Văn B Temp', N'0909029531', N'Thủ Đức Temp')
INSERT [dbo].[SINHVIEN_TEMP] ([MASV], [TENSV], [SODT], [DIACHI]) VALUES (N'SV0003', N'Nguyễn Văn C Temp', N'0909029532', N'Quận 9 Temp')
ALTER TABLE [dbo].[GV_HDDT]  WITH CHECK ADD  CONSTRAINT [FK_GV_HDDT_GIAOVIEN] FOREIGN KEY([MAGV])
REFERENCES [dbo].[GIAOVIEN] ([MAGV])
GO
ALTER TABLE [dbo].[GV_HDDT] CHECK CONSTRAINT [FK_GV_HDDT_GIAOVIEN]
GO
ALTER TABLE [dbo].[GV_HDDT]  WITH CHECK ADD  CONSTRAINT [FK_GV_HDDT_SINHVIEN_DETAI] FOREIGN KEY([MASV], [MADT])
REFERENCES [dbo].[SINHVIEN_DETAI] ([MASV], [MADT])
GO
ALTER TABLE [dbo].[GV_HDDT] CHECK CONSTRAINT [FK_GV_HDDT_SINHVIEN_DETAI]
GO
ALTER TABLE [dbo].[GV_HOIDONG]  WITH CHECK ADD  CONSTRAINT [FK_GV_HOIDONG_GIAOVIEN] FOREIGN KEY([MAGV])
REFERENCES [dbo].[GIAOVIEN] ([MAGV])
GO
ALTER TABLE [dbo].[GV_HOIDONG] CHECK CONSTRAINT [FK_GV_HOIDONG_GIAOVIEN]
GO
ALTER TABLE [dbo].[GV_HOIDONG]  WITH CHECK ADD  CONSTRAINT [FK_GV_HOIDONG_SINHVIEN_DETAI] FOREIGN KEY([MASV], [MADT])
REFERENCES [dbo].[SINHVIEN_DETAI] ([MASV], [MADT])
GO
ALTER TABLE [dbo].[GV_HOIDONG] CHECK CONSTRAINT [FK_GV_HOIDONG_SINHVIEN_DETAI]
GO
ALTER TABLE [dbo].[GV_PBDT]  WITH CHECK ADD  CONSTRAINT [FK_GV_PBDT_GIAOVIEN] FOREIGN KEY([MAGV])
REFERENCES [dbo].[GIAOVIEN] ([MAGV])
GO
ALTER TABLE [dbo].[GV_PBDT] CHECK CONSTRAINT [FK_GV_PBDT_GIAOVIEN]
GO
ALTER TABLE [dbo].[GV_PBDT]  WITH CHECK ADD  CONSTRAINT [FK_GV_PBDT_SINHVIEN_DETAI] FOREIGN KEY([MASV], [MADT])
REFERENCES [dbo].[SINHVIEN_DETAI] ([MASV], [MADT])
GO
ALTER TABLE [dbo].[GV_PBDT] CHECK CONSTRAINT [FK_GV_PBDT_SINHVIEN_DETAI]
GO
ALTER TABLE [dbo].[SINHVIEN_DETAI]  WITH NOCHECK ADD  CONSTRAINT [FK_SINHVIEN_DETAI_DETAI] FOREIGN KEY([MADT])
REFERENCES [dbo].[DETAI] ([MADT])
GO
ALTER TABLE [dbo].[SINHVIEN_DETAI] CHECK CONSTRAINT [FK_SINHVIEN_DETAI_DETAI]
GO
ALTER TABLE [dbo].[SINHVIEN_DETAI]  WITH NOCHECK ADD  CONSTRAINT [FK_SINHVIEN_DETAI_SINHVIEN] FOREIGN KEY([MASV])
REFERENCES [dbo].[SINHVIEN] ([MASV])
GO
ALTER TABLE [dbo].[SINHVIEN_DETAI] CHECK CONSTRAINT [FK_SINHVIEN_DETAI_SINHVIEN]
GO
